<div class="container col-sm-10 p-2">

<h2>Your Snippets</h2>

<% @snippets.each do |snippet| %>
  <div class="container p-4 individual-snippet left">
    <dl class="row">
      <dt class="col-sm-2">Name</dt>
      <dd class="col-sm-9"><%= snippet.name %></dd>

      <dt class="col-sm-2">Language</dt>
      <dd class="col-sm-9"><%= snippet.language %></dd>

      <dt class="col-sm-2">Access Level</dt>
      <dd class="col-sm-9"><%= snippet.access_level %></dd>

      <dt class="col-sm-2">Content</dt>
      <dd class="col-sm-9">
        <pre><code><%= snippet.content %></code></pre>
      </dd>

      <dt class="col-sm-2">Labels</dt>
      <dd class="col-sm-9">
        <% snippet.labels.each do |label| %>
          <%= "#{label.name} " %>
        <% end %>
      </dd>
    </dl>
    <div class="row pl-3">
      <a class="right-margin-btn btn btn-primary btn-sm" href="/snippets/<%= snippet.id %>/edit">Edit</a>

      <form id="delete-form" action="/snippets/<%= snippet.id %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" name="delete" class="btn btn-primary btn-sm" value="Delete">
      </form>
    </div>
  </div>
<% end %>

</div>
