<div class="row pt-3">
  <div class="container col-sm-2">
  <h2>Labels</h2>
  <% if @user %>
    <a href="/snippet-library">all</a><br> <!-- CHANGE?? --> 
    <% @labels.each do |label| %>
        <a href="/labels/user/<%= label.id %>"><%= "#{label.name} " %></a><br>
    <% end %>
  <% else %>
    <a href="/snippet-library">all</a><br>
    <% @labels.each do |label| %>
        <a href="/labels/<%= label.id %>"><%= "#{label.name} " %></a><br>
    <% end %>
  <% end %>
  <%= yield %>
</div>
