<div class="row pt-3">
  <div class="container col-sm-2">
  <h2>Labels</h2>
  <% if @user_page %>
    <a href="/snippets">all</a><br>
    <% @labels.each do |label| %>
        <a href="/labels/user/<%= label.id %>"><%= "#{label.name} " %></a><br>
    <% end %>
  <% else %>
    <a href="/snippet-library">all</a><br>
    <% @labels.each do |label| %>
        <a href="/labels/<%= label.id %>"><%= "#{label.name} " %></a><br>
    <% end %>
  <% end %>
  </div>
  <div class="container col-sm-10">
    <%= yield %>
  </div>
</div>
