<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css"/>
  <title>Snippet Manager</title>
  </head>

  <body>
    <% flash.keys.each do |type| %>
      <div data-alert class="flash alert alert-<%= type %> alert-box radius">
        <%= flash[type] %>
      </div>
    <% end %>

    <div class="container">
      <div class="row"> <!-- start nav bar & FP row -->
        <div class="col-sm-12"> <!-- nav bar -->
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
               <a class="navbar-brand" href="/">Snippet Manager</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarsExample03">
                 <ul class="navbar-nav ml-auto">
                   <li class="nav-item active">
                     <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/snippets">My Snippets</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/snippet-library">Snippet Library</a>
                   </li>


                   <% if logged_in? %>
                     <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <%= current_user.username %>
                       </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="#">Profile</a>
                         <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/logout">Log Out</a>
                         </div>
                     </li>
                   <% else %>
                     <li class="nav-item">
                       <a class="nav-link" href="/login">Sign In</a>
                     </li>
                   <% end %>
                 </ul>
               </div>
             </nav>
        </div> <!-- end nav bar -->
      </div> <!-- end navbar row -->

      <%= yield %>

      <footer>
        <div class="row"> <!-- footer row -->
          <div class="col-sm-12 pt-3 footer">
            &copy; 2018 Allyson Wesman
          </div>
        </div> <!-- end footer row -->
      </footer>
    </div> <!-- end main container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
